@import "../../shared/assets/scss/vars.scss";
.ant-list-item.list-level {
  padding-top: 19.66666666px;
  padding-bottom: 19.66666666px;
}
.dashboard-input-search {
  float: left;
  margin-left: 10px;
  width: calc(100vw - 745px);
}
.dashboard-list.active {
  background-color: $blue-3;
}