@import "../../../shared/assets/vars.scss";
.host-box {
  width: 200px;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid $gray-10;
  float: left;
}
.next-box {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid $gray-10;
  float: left;
}
.tetris-block {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid $blue-3;
  box-sizing: border-box;
}
.tetris-info {
  float: left;
  margin-top: 120px;
  margin-left: -80px;
  border: 1px solid $gray-10;
  width: 80px;
  height: 300px;
}

.block-none {
  border-color: $gray-4;
  background-color: $gray-3;
  border-top: none;
  border-right: none;
  &.block-left {
    border-left: none;
  }
  &.block-bottom {
    border-bottom: none;
  }
}

.block-current-0 {
  border-color: #b15bff;
  background-color: #ca8eff;
}
.block-current-1 {
  border-color: #ff5151;
  background-color: #ff9797;
}
.block-current-2 {
  border-color: #53ff53;
  background-color: #93ff93;
}
.block-current-3 {
  border-color: #66b3ff;
  background-color: #97cbff;
}
.block-current-4 {
  border-color: #ff8f59;
  background-color: #ffad86;
}
.block-current-5 {
  border-color: #a6a600;
  background-color: #e1e100;
}
.block-current-6 {
  border-color: #ad5a5a;
  background-color: #c48888;
}
.block-projection-0 {
  border-color: rgba(177, 91, 255, 0.3);
  background-color: rgba(202, 142, 255, 0.3);
}
.block-projection-1 {
  border-color: rgba(255, 81, 81, 0.3);
  background-color: rgba(255, 151, 151, 0.3);
}
.block-projection-2 {
  border-color: rgba(83, 255, 83, 0.3);
  background-color: rgba(147, 255, 147, 0.3);
}
.block-projection-3 {
  border-color: rgba(102, 179, 255, 0.3);
  background-color: rgba(151, 203, 255, 0.3);
}
.block-projection-4 {
  border-color: rgba(255, 143, 89, 0.3);
  background-color: rgba(255, 173, 134, 0.3);
}
.block-projection-5 {
  border-color: rgba(166, 166, 0, 0.3);
  background-color: rgba(225, 225, 0, 0.3);
}
.block-projection-6 {
  border-color: rgba(173, 90, 90, 0.3);
  background-color: rgba(196, 136, 136, 0.3);
}
.block-current, .block-fixed {
  &.block-top {
    border-top: none;
  }
  &.block-right {
    border-right: none;
  }
}
.block-fixed-0 {
  border-color: #9450d8;
  background-color: #9c68cb;
}
.block-fixed-1 {
  border-color: #d64848;
  background-color: #ab5656;
}
.block-fixed-2 {
  border-color: #4fda4f;
  background-color: #66c166;
}
.block-fixed-3 {
  border-color: #5689c9;
  background-color: #5a83b3;
}
.block-fixed-4 {
  border-color: #cf9937;
  background-color: #e0d070;
}
.block-fixed-5 {
  border-color: #9b9b00;
  background-color: #ddda40;
}
.block-fixed-6 {
  border-color: #9b5656;
  background-color: #9b6a6a;
}